<%-include( "partials/header" )%>

  <div class="container compose ">
    <div class="content-wrapper">


      <% if(title){ %>
        <h1 class="center border rounded p-2 pb-3  " style="width: fit-content;">Edit</h1>
        <form action="/journal/<%=title%>/edit" method="post">

          <% } else{ %>
            <h1 class="center border rounded p-2 pb-3  " style="width: fit-content;">Compose</h1>
            <form action="/journal/compose" method="post">
              <% } %>
                <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Title</label>
                  <input type="text" class="form-control" name="title" id="exampleFormControlInput1"
                    placeholder="Enter Title" value="<%=title%>">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Post</label>
                  <textarea class="form-control" name="post" id="exampleFormControlTextarea1"
                    placeholder="Start Writing..." rows="7"><%=post%></textarea>
                </div>
                <div class="button-container">
                  <button type="submit" class="btn btn-secondary outline-dark">Save</button>
                </div>
            </form>


    </div>
  </div>

  <%-include( "partials/footer" )%>